<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>All Articles page </h1>  
 <hr/>
 <div style="background-color: rgb(226, 174, 43);padding: 20px;"> 
   <% for( let article of allarticles) { %>
   
  <h1>  <%= article.title %> </h1>

  <h5>  <%= article.body %> </h5>
  <hr/>
<br>
   <% } %>
   
 </div>

</body>
</html>