<head>
<body>
    




    <h1>hello <%=name%></h1>
   <p>ggggg</p>
<p><%=numbers%></p>
<p><%=languge%></p>
<% if (name=="yarob") {%>
   <div>
    name is yarob
   </div>
    
<%} %>
</body>

</head>

