<div style="text-align: center; background-color: aliceblue; height: 50px;margin-bottom: 20px;">
    <h1>My Oline Store</h1>
    </div>
    <table border="2" style="width: 90% ; text-align: center ;margin:0 auto ;">
    <tr>
        <th>Item</th>
        <th>Image</th>
        <th>Price</th>
        <th>Linke</th>
    </tr>
    
    <tr>
        <td>Iphone</td>
        <td><img src="Iphone.jpg" alt="Iphone" style="max-height: 200px;"> </td>
        <td>500$</td>
        <td><a href="https://www.google.com">Apple Link</a></td>
    </tr>
    
    <tr>
        <td>Sumsong</td>
        <td><img src="sum.jfif" alt="Sumsong" style="max-height: 200px;"> </td>
        <td>300$</td>
        <td><a href="https://www.google.com">Sumsong Link</a></td>
    </tr>
    
    <tr>
        <td>Oneplus</td>
        <td><img src="oneplus.jfif" alt="oneplus" style="max-height: 200px;"> </td>
        <td>200$</td>
        <td><a href="https://www.google.com">Oneplus Link</a></td>
    </tr>
    
    </table>
    <div style="background-color: aliceblue;padding: 5px;margin-top: 40px;"> 
        <h2>Request Your Device Now ! </h2>
        <form action="https://www.google.com/submitemail" method="post" >
    <label for="name-id">Name:</label>
    <input type="text" id="name-id">
    
    <label for="email-id">Email:</label>
    <input type="email" id="email-id">
    
    <label for="date-id">Date Of Brith:</label>
    <input type="date" id="date-id">
    
    <input type="submit">
    
    
        </form>
        </div>